.table{
    font-family: JasmineUPC;
    font-size: 22px;
    font-weight: bold;
}
h1{
    font-family: JasmineUPC;
}
h2{
    font-family: JasmineUPC;
    padding-left: 25px;
}
h3{
    font-family: JasmineUPC;
}


